@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: #FF0050;
  --accent: #00F2EA;
}

body {
  margin: 0;
  background-color: white;
  font-family: 'Inter', sans-serif;
}

.glass {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
